    </main>
    
    <footer class="footer">
        <div class="container">
            <p>&copy; 2025 Online Exam System. All rights reserved.</p>
        </div>
    </footer>
    
    <script src="/js/exam.js"></script>
    <script src="/js/admin.js"></script>
</body>
</html>
